body {
    padding-top: 50px;
}

h1 {
    margin: 30px 0 !important;
}

li {
    list-style-type: none;
}

.table-action li {
    float: left;
}

.table-action li + li {
    padding-left: 10px;
}

.tab-pane {
    margin: 0 auto;
    width: 90%;
}