<h4>Rules</h4>
<table class="table table-bordered table-condensed table-hover">
    <tr>
        <th>Championship rounds</th>
        <td>{{ entity.type.nbChampionshipRound }}</td>
    </tr>
    <tr>
        <th>Qualified players</th>
        <td>{{ entity.type.nbQualifiedPlayer }}</td>
    </tr>
    <tr>
        <th>Tournament</th>
        <td>Single elimination tournament - Random each turn</td>
    </tr>
</table>