{% extends '::base.html.twig' %}
{% form_theme form with 'SiriruGSBundle:Form:fields.html.twig' %}

{% block body -%}
    <h1>Player creation</h1>

    {{ form(form) }}

    <a href="{{ path('player') }}">
        <span class="glyphicon glyphicon-arrow-left"></span> Back to the list
    </a>
{% endblock %}
